@model WebApplicationAnnuaire.Models.Employe

@{
    ViewData["Title"] = "Création";
}

<h1>Créer</h1>

<h4>Employé</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="SiteId" class="control-label"></label>
                        <select asp-for="SiteId" class="form-control" asp-items="ViewBag.SiteId"></select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ServiceId" class="control-label"></label>
                        <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Nom" class="control-label"></label>
                        <input asp-for="Nom" class="form-control" />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Prenom" class="control-label"></label>
                        <input asp-for="Prenom" class="form-control" />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="TelephoneFixe" class="control-label"></label>
                        <input asp-for="TelephoneFixe" class="form-control" />
                        <span asp-validation-for="TelephoneFixe" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="TelephonePortable" class="control-label"></label>
                        <input asp-for="TelephonePortable" class="form-control" />
                        <span asp-validation-for="TelephonePortable" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group text-right">
                <div class="btn-group">
                    <a asp-action="Index" class="btn btn-danger">Retour</a>
                    <input type="submit" value="Créer" class="btn btn-success" />
                </div>
            </div>

        </form>
    </div>
</div>
<br/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
