@{
    ViewData["Title"] = "Accueil";
}
<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center">
            <img src="https://k-graphiste.com/wp-content/uploads/2022/07/logo-vert-environnement.png" alt="Logo PageVerte" width="250" height="150">
            <h1 class="display-4 mt-4">Bienvenue sur l'annuaire Page<span class="text-success">Verte</span> !</h1>
            <p class="lead">PageVerte vous permet de vous aider les professionnels de l'industrie agroalimentaire à trouver facilement les contacts dont ils ont besoin pour leur entreprise.</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Notre mission</h3>
                    <p class="card-text">Faciliter vos recherches et vous aider à économiser du temps et de l'argent. Avec notre annuaire, vous pouvez facilement trouver les contacts dont vous avez besoin pour votre entreprise, que vous soyez à la recherche de nouveaux fournisseurs, de partenaires commerciaux ou de prestataires de services.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Notre annuaire</h3>
                    <p class="card-text">Répertorie les sites et services les plus pertinents de l'industrie, tels que les producteurs, les distributeurs, les transformateurs, les fournisseurs d'équipements et de matières premières, et bien d'autres encore.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text-center">
            <p class="lead">N'hésitez pas à parcourir notre annuaire et à nous contacter si vous avez des questions ou des commentaires. Nous sommes toujours là pour vous aider à réussir dans l'industrie agroalimentaire !</p>
            <a class="btn btn-success btn-lg" href="/Employes" role="button">Explorer l'annuaire</a>
        </div>
    </div>
</div>
