@{
    ViewData["Title"] = "Politique de confidentialité";
}
<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center">
            <img src="https://k-graphiste.com/wp-content/uploads/2022/07/logo-vert-environnement.png" alt="Logo PageVerte" width="250" height="150">
            <br/><br/>
            <h1>@ViewData["Title"]</h1>
            <p class="lead">Utilisez cette page pour détailler la politique de confidentialité de votre site.</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-8 mx-auto">
            <h2>Introduction</h2>
            <p>Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons vos informations personnelles. En utilisant notre site web, vous consentez à notre politique de confidentialité.</p>

            <h2>Informations que nous collectons</h2>
            <p>Nous pouvons collecter des informations personnelles telles que votre nom, votre adresse e-mail et votre numéro de téléphone. Nous pouvons également collecter des informations non personnelles telles que votre adresse IP et votre navigateur web.</p>

            <h2>Comment nous utilisons vos informations</h2>
            <p>Nous utilisons vos informations personnelles pour vous fournir des services et des informations que vous demandez. Nous pouvons également utiliser vos informations à des fins internes telles que l'amélioration de notre site web et de nos services.</p>

            <h2>Comment nous protégeons vos informations</h2>
            <p>Nous utilisons des mesures de sécurité de l'industrie pour protéger vos informations personnelles contre tout accès ou divulgation non autorisé. Cependant, aucune méthode de transmission sur Internet n'est 100 % sécurisée et nous ne pouvons garantir la sécurité absolue de vos informations.</p>

            <h2>Cookies</h2>
            <p>Nous utilisons des cookies pour suivre vos préférences et votre utilisation de notre site web. Vous pouvez désactiver les cookies dans votre navigateur web, mais cela peut affecter la fonctionnalité de notre site web.</p>

            <h2>Liens vers des sites tiers</h2>
            <p>Notre site web peut contenir des liens vers des sites web tiers. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu de ces sites web.</p>

            <h2>Modifications de cette politique</h2>
            <p>Nous pouvons mettre à jour cette politique de confidentialité de temps à autre. La dernière version sera toujours publiée sur notre site web.</p>

            <h2>Nous contacter</h2>
            <p>Si vous avez des questions concernant cette politique de confidentialité ou l'utilisation de vos informations personnelles, veuillez nous contacter à l'adresse [insérer les informations de contact].</p>
        </div>
    </div>
</div>
