@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>Liste des rôles</h1>
<a asp-action="CreateRole">Créer un rôle</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Nom</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>

        }
    </tbody>
</table>